.content-tabs__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.content-tabs__tabs-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  gap: 0;
  padding-bottom: 0.8rem;
}
.content-tabs__tabs-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0.8rem;
  left: 0;
  width: var(--wrapper-border-width, 100%);
  height: 0.2rem;
  background-color: rgb(var(--color-border));
}
@media screen and (max-width: 749px) {
  .content-tabs__tabs-wrapper {
    overflow-x: auto;
  }
  .content-tabs__tabs-wrapper::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
  }
  .content-tabs__tabs-wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-scrollbar));
    border-radius: 2rem;
  }
}
@media screen and (max-width: 749px) and (hover: none) and (pointer: coarse) {
  .content-tabs__tabs-wrapper {
    scrollbar-width: none;
  }
  .content-tabs__tabs-wrapper::-webkit-scrollbar {
    display: none;
  }
}
.content-tabs__tab {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.2rem 0.8rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: transparent;
  border-bottom: 0.2rem solid transparent;
  color: rgb(var(--color-foreground));
  transform: scale(1);
  word-break: break-word;
  cursor: pointer;
  transition: background-color var(--duration-default), border-bottom var(--duration-default), color var(--duration-default), transform 700ms cubic-bezier(0.4, 0, 0.25, 1) 0ms;
  width: 100%;
  flex-shrink: 0;
}
.content-tabs__tabs-wrapper--2 .content-tabs__tab {
  width: 50%;
}
.content-tabs__tabs-wrapper--3 .content-tabs__tab {
  width: 40%;
}
@media screen and (min-width: 750px) {
  .content-tabs__tabs-wrapper--3 .content-tabs__tab {
    width: 33.3333333333%;
  }
}
.content-tabs__tabs-wrapper--4 .content-tabs__tab {
  width: 40%;
}
@media screen and (min-width: 750px) {
  .content-tabs__tabs-wrapper--4 .content-tabs__tab {
    width: 25%;
  }
}
.content-tabs__tabs-wrapper--5 .content-tabs__tab {
  width: 40%;
}
@media screen and (min-width: 750px) {
  .content-tabs__tabs-wrapper--5 .content-tabs__tab {
    width: 20%;
  }
}
.content-tabs__tab--active {
  cursor: default;
  border-bottom: 0.2rem solid rgb(var(--color-foreground-secondary));
}
@media screen and (hover: hover) and (pointer: fine) {
  .content-tabs__tab:not(.content-tabs__tab--active):hover {
    background-color: rgb(var(--color-background-secondary));
    color: rgb(var(--color-foreground-secondary));
    border-bottom: 0.2rem solid rgb(var(--color-border));
  }
}
.content-tabs__content {
  display: none;
  opacity: 0.4;
  padding-top: 3.2rem;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;
  transition: opacity 700ms cubic-bezier(0.4, 0, 0.25, 1);
}
@media screen and (min-width: 576px) {
  .content-tabs__content {
    padding-top: 4.8rem;
  }
}
@media screen and (min-width: 990px) {
  .content-tabs__content {
    padding-top: 5.6rem;
  }
}
@media screen and (min-width: 1360px) {
  .content-tabs__content {
    padding-top: 6.4rem;
  }
}
@media screen and (min-width: 576px) {
  .content-tabs__content--2-column, .content-tabs__content--3-column {
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem 1.6rem;
  }
}
@media screen and (min-width: 990px) {
  .content-tabs__content--3-column, .content-tabs__content--4-column {
    grid-template-columns: repeat(3, 1fr);
    gap: 5.6rem 1.6rem;
  }
  .content-tabs__content--3-column .content-tabs__content-block, .content-tabs__content--4-column .content-tabs__content-block {
    max-width: 30.8rem;
  }
}
@media screen and (min-width: 1360px) {
  .content-tabs__content--4-column {
    grid-template-columns: repeat(4, 1fr);
  }
}
.content-tabs__content--active {
  display: grid;
}
.content-tabs__content.animate {
  opacity: 1;
}
.content-tabs__content.center {
  justify-items: center;
}
.content-tabs__content.right {
  justify-items: end;
}
.content-tabs__content-block {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0 1.6rem 0 0;
}
.center .content-tabs__content-block {
  align-items: center;
  padding: 0 0.8rem;
}
.right .content-tabs__content-block {
  align-items: flex-end;
  padding: 0 0 0 1.6rem;
}
.content-tabs__content-title {
  max-width: 75rem;
}
.center .content-tabs__content-title {
  text-align: center;
}
.right .content-tabs__content-title {
  text-align: right;
}
.content-tabs__content-text {
  max-width: 65rem;
  word-break: break-word;
  color: rgb(var(--color-foreground-secondary));
  white-space: pre-line;
}
.center .content-tabs__content-text {
  text-align: center;
}
.right .content-tabs__content-text {
  text-align: right;
}
@media screen and (min-width: 990px) {
  .content-tabs__content--3-column .content-tabs__content-title,
  .content-tabs__content--3-column .content-tabs__content-text, .content-tabs__content--4-column .content-tabs__content-title,
  .content-tabs__content--4-column .content-tabs__content-text {
    max-width: 32.4rem;
  }
}